.planesMain {
  min-height: 85vh;
  background-image: url("../../assets/images/homeBg8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.caption {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-text-stroke: 4px;
  -webkit-text-fill-color: transparent;
}
